\documentclass[10pt,a4paper]{article}
\usepackage[utf8]{inputenc}
\usepackage[T1,T2A]{fontenc}
\usepackage[english]{babel}
\usepackage[top=1.5cm,left=2cm,right=1cm,bottom=1.5cm]{geometry}
\usepackage{hyperref}
\usepackage{fontawesome}
\usepackage{wasysym}
\usepackage{graphicx}
\usepackage{grffile}

\graphicspath{{./$pdirname/}}

\providecommand{\tightlist}{%
  \setlength{\itemsep}{0pt}\setlength{\parskip}{0pt}}

\begin{document}

\begin{titlepage}

{\Huge\bfseries $title }
\\[2\baselineskip]

{\large\textit{ \url{ $url } }}
\\[4\baselineskip]

{\large $description }
\\

{\large\textsc{ $posts posts }}
\\

{\large\textsc{ Last updated $updated }}
\\

\vspace{0.5\textheight}

{ Assembled by \texttt{Tumblr2book} }

\end{titlepage}

\input{posts.tex}

\end{document}